.banner {
  padding-top: 15px;
  position: relative;

  @media screen and (max-width: 600px) {
    padding-top: 2.5vw;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: $white url(../image/water-splash.svg) no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 425px;
    padding: 10px 0 0 70px;

    @media screen and (max-width: 600px) {
      height: 70.8vw;
      padding: 1.6vw 0 0 11.6vw;
    }
  }

  &__text-wrapper {
    position: relative;
    z-index: 1;
    width: 105px;

    @media screen and (max-width: 600px) {
      width: 17.5vw;
    }
  }

  &__text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    -webkit-text-orientation: upright;
    font-weight: $demibold;
    color: $blue;
    font-family: $yumin;
    font-size: 3.5rem;

    @media screen and (max-width: 600px) {
      font-size: 5.8vw;
    }

    &--shadow {
      position: absolute;
      top: 0;
      z-index: -1;
      -webkit-text-stroke: 10px $white;

      @media screen and (max-width: 600px) {
        left: 0;
      }
    }
  }

  &__product {
    width: 118px;
    height: auto;
    margin: 0 10px 0 35px;

    @media screen and (max-width: 600px) {
      width: 19.6vw;
      margin: 0 1.6vw 0 5.8vw;
    }
  }

  &__right-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }

  &__circle-wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(../image/banner-circle.svg) no-repeat;
    background-size: contain;
    color: $white;
    font-family: $yumin;
    width: 130px;
    height: 130px;

    @media screen and (max-width: 600px) {
      width: 21.6vw;
      height: 21.6vw;
    }
  }

  &__circle-rating {
    font-weight: $extrabold;
    font-size: 1.4rem;

    @media screen and (max-width: 600px) {
      font-size: 2.3vw;
    }
  }

  &__circle-text {
    font-weight: $medium;
    font-size: 0.7rem;
    line-height: 12px;

    @media screen and (max-width: 600px) {
      font-size: 1.1vw;
      line-height: 2vw;
    }
  }

  &__circle-count {
    font-weight: $extrabold;
    font-size: 2.8rem;
    line-height: 30px;

    @media screen and (max-width: 600px) {
      font-size: 4.6vw;
      line-height: 5vw;
    }
  }

  &__circle-pieces {
    font-size: 1.4rem;

    @media screen and (max-width: 600px) {
      font-size: 2.3vw;
    }
  }

  &__circle-date {
    white-space: nowrap;
    font-family: $yumin;
    font-weight: $demibold;
    font-size: 0.6rem;
    margin-left: -10px;

    @media screen and (max-width: 600px) {
      font-size: 1vw;
      margin-left: -1.6vw;
    }
  }

  &__bottom-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-family: $yumin;
    font-weight: $extrabold;
    text-align: left;
    margin: 0 auto 15px;
    font-size: 1.3rem;
    width: 418px;
    padding-top: 5px;

    @media screen and (max-width: 600px) {
      margin-bottom: 2.5vw;
      font-size: 2.1vw;
      width: 69.6vw;
      padding-top: 0.8vw;
    }
  }

  &__logo-wrapper {
    position: absolute;
    width: 512px;
    margin: auto;
    top: 15px;
    right: 0;
    left: 0;
    text-align: right;

    @media screen and (max-width: 600px) {
      width: 85.3vw;
      top: 2.5vw;
    }
  }

  &__logo {
    font-weight: $medium;
    font-size: 2.1rem;

    @media screen and (max-width: 600px) {
      font-size: 3.5vw;
    }
  }
}