.benefits {
  &__wrapper {
    position: relative;
  }

  &__product-wrapper {
    position: absolute;
    width: 332px;
    height: auto;
    left: -22%;
    top: -4%;

    @media screen and (max-width: 600px) {
      width: 55.3vw;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__list {
    padding: 30px 0;

    @media screen and (max-width: 600px) {
      padding: 5vw 0;
    }
  }

  &__item {
    position: relative;

    &--reverse {
      .benefits__details {
        padding: 0 207.5px 0 0;

        @media screen and (max-width: 600px) {
          padding-right: 34.5vw;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 80px;

      @media screen and (max-width: 600px) {
        margin-bottom: 13.3vw;
      }
    }
  }

  &__bubble {
    position: absolute;
    height: auto;

    &--1 {
      width: 273px;
      top: 0;
      left: 7%;

      @media screen and (max-width: 600px) {
        width: 45.5vw;
      }
    }

    &--2 {
      width: 350px;
      bottom: -10%;
      left: 48%;

      @media screen and (max-width: 600px) {
        width: 58.3vw;
      }
    }

    &--3 {
      width: 345px;
      left: -10%;
      top: -10%;

      @media screen and (max-width: 600px) {
        width: 57.5vw;
      }
    }

    &--4 {
      width: 325px;
      left: 50%;
      top: -15%;

      @media screen and (max-width: 600px) {
        width: 54.1vw;
      }
    }

    &--5 {
      width: 300px;
      top: -10%;

      @media screen and (max-width: 600px) {
        width: 50vw;
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__details {
    margin: 0 auto;
    width: 415px;
    padding-left: 207.5px;

    @media screen and (max-width: 600px) {
      width: 69.1vw;
      padding-left: 34.5vw;
    }
  }

  &__title {
    white-space: nowrap;
    font-weight: 600;
    color: $blue;
    margin-bottom: 15px;
    font-size: 2.4rem;

    @media screen and (max-width: 600px) {
      margin-bottom: 2.5vw;
      font-size: 4vw;
    }
  }

  &__text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    line-height: 1.8em;
    font-weight: 500;
    font-size: 1.3rem;

    @media screen and (max-width: 600px) {
      font-size: 2.1vw;
    }
  }
}