.button {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: url(../image/button.svg);
  background-size: cover;
  background-position: bottom center;
  color: $white;
  font-family: $yumin;
  font-weight: $extrabold;
  margin: 7px auto 0;
  font-size: 1.7rem;
  width: 175px;
  height: 43px;

  @media screen and (max-width: 600px) {
    margin-top: 1.1vw;
    font-size: 2.8vw;
    width: 29.1vw;
    height: 7.1vw;
  }
}