.campaign {
  padding: 0 20px;

  @media screen and (max-width: 600px) {
    padding: 0 5vw;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 25px;

      @media screen and (max-width: 600px) {
        margin-bottom: 4.1vw;
      }
    }

    &--sm {
      .campaign__title {
        text-align: left;
        padding: 0;
        line-height: 2.5rem;

        @media screen and (max-width: 600px) {
          line-height: 4.5vw;
        }
      }

      .campaign__content-middle {
        justify-content: flex-start;
        margin-top: 7px;

        @media screen and (max-width: 600px) {
          margin-top: 1.1vw;
        }
      }

      .campaign__circle {
        margin: 0;
      }

      .campaign__sale-price { 
        font-size: 4.2rem;
        padding-left: 5px;

        @media screen and (max-width: 600px) {
          font-size: 7vw;
          padding-left: 0.8vw;
        }
      }

      .campaign__yen {
        font-size: 2.2rem;
        line-height: 2.2rem;

        @media screen and (max-width: 600px) {
          font-size: 3.6vw;
          line-height: 3.6vw;
        }
      }

      .campaign__tax {
        font-size: 0.8rem;

        @media screen and (max-width: 600px) {
          font-size: 1.3vw;
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  &__bottle {
    width: 125px;

    @media screen and (max-width: 600px) {
      width: 20.8vw;
    }
  }

  &__bottle-img {
    width: 100%;
    height: auto;
  }

  &__content {
    padding-left: 15px;

    @media screen and (max-width: 600px) {
      padding-left: 2.5vw;
    }
  }

  &__crown {
    display: inline-block;
    position: relative;
    background: url(../image/left.svg) no-repeat, url(../image/right.svg) no-repeat;
    background-size: contain;
    background-position: left center, right center;
    text-align: center;
  }

  &__crown-text {
    font-family: $yumin;
    font-weight: $extrabold;
    font-size: 2.2rem;
    padding: 0 20px;

    @media screen and (max-width: 600px) {
      font-size: 3.6vw;
      padding: 0 5vw;
    }
  }

  &__crown-img {
    position: absolute;
    top: -36%;
    width: 15.38px;
    height: auto;

    @media screen and (max-width: 600px) {
      width: 2.5vw;
    }
  }
  
  &__title {
    text-align: center;
    font-family: $yumin;
    font-weight: $extrabold;
    font-size: 2.5rem;
    padding-top: 5px;

    @media screen and (max-width: 600px) {
      font-size: 4.1vw;
      padding-top: 0.8vw;
    }

    span {
      font-size: 1.3rem;
      font-weight: $medium;

      @media screen and (max-width: 600px) {
        font-size: 2.1vw;
      }
    }
  }

  &__content-middle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__price {
    font-family: $yumin;
    font-weight: $medium;
    white-space: nowrap;
    text-align: center;
    font-size: 1.3rem;

    @media screen and (max-width: 600px) {
      font-size: 2.1vw;
    }
  }

  &__sale-price {
    font-family: $yumin;
    color: $blue;
    font-weight: $extrabold;
    font-size: 2.8rem;

    @media screen and (max-width: 600px) {
      font-size: 4.6vw;
    }
  }

  &__unit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__tax {
    font-family: $yumin;
    font-weight: $medium;
    font-size: 0.6rem;

    @media screen and (max-width: 600px) {
      font-size: 1vw;
    }
  }

  &__yen {
    font-family: $yumin;
    font-weight: $extrabold;
    color: $blue;
    font-size: 1.4rem;
    line-height: 1.4rem;

    @media screen and (max-width: 600px) {
      font-size: 2.3vw;
      line-height: 2.3vw;
    }
  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../image/campaign-circle.svg) no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-left: 5px;

    @media screen and (max-width: 600px) {
      width: 8.3vw;
      height: 8.3vw;
      margin-left: 0.8vw;
    }
  }

  &__circle-text {
    font-weight: $bold;
    color: $white;
    font-size: 1.4rem;
    line-height: 1.8rem;

    @media screen and (max-width: 600px) {
      font-size: 2.3vw;
      line-height: 3vw;
    }
  }
}