.customer-voice {
  padding: 70px 0 10px 0;

  @media screen and (max-width: 600px) {
    padding: 11.66vw 0 1.66vw 0;
  }

  &__list {
    margin: 0 auto;
    width: 467.47px;
    padding-top: 28px;

    @media screen and (max-width: 600px) {
      width: 77.91vw;
      padding-top: 4.66vw;
    }
  }

  &__item {
    background: $white url(../image/customer-voice-1.svg) no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    padding: 33px 42px;
    height: 173.54px;
    margin-bottom: 18px;

    @media screen and (max-width: 600px) {
      height: 28.92vw;
      padding: 5.50vw 7vw;
      margin-bottom: 3vw;
    }

    &:nth-child(2) {
      background: $white url(../image/customer-voice-2.svg) no-repeat;
      background-position: center;
      background-size: contain;
    }

    &:nth-child(3) {
      background: $white url(../image/customer-voice-3.svg) no-repeat;
      background-position: center;
      background-size: contain;
    }

    &:nth-child(4) {
      background: $white url(../image/customer-voice-4.svg) no-repeat;
      background-position: center;
      background-size: contain;
    }

    &:nth-child(5) {
      background: $white url(../image/customer-voice-5.svg) no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__image {
    width: 100%;
  }

  &__title {
    font-family: $yugo;
    font-weight: $bold;
    font-size: 2.6rem;
    color: $blue;

    @media screen and (max-width: 600px) {
      font-size: 4.33vw;
    }
  }

  &__text {
    font-family: $yugo;
    font-weight: $medium;
    font-size: 1.3rem;
    padding-top: 10px;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    @media screen and (max-width: 600px) {
      font-size: 2.16vw;
      padding-top: 1.66vw;
    }
  }
}