.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  height: 56px;
  margin-top: 50px;

  @media screen and (max-width: 600px) {
    height: 9.3vw;
    margin-top: 8.3vw;
  }

  &__copyright {
    color: $white;
    font-weight: $medium;
    font-size: 1.4rem;

    @media screen and (max-width: 600px) {
      font-size: 2.3vw;
    }
  }
}