.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $white;
  width: 100%;
  height: 85px;
  border-bottom: 1px solid rgba($color: #070304, $alpha: 0.3);

  @media screen and (max-width: 600px) {
    height: 14.1vw;
  }

  &__text {
    font-weight: $medium;
    font-size: $font-20;
    padding: 0 55px;

    @media screen and (max-width: 600px) {
      font-size: 3.3vw;
      padding: 0 9.1vw;
    }

    @media screen and (min-width: 768px) {
      margin: 0 auto;
      max-width: 800px;
    }
  }
}