.pr {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin: 0 auto;
    max-width: 505px;
    padding: 50px 0 45px;

    @media screen and (max-width: 600px) {
      max-width: 84.1vw;
      padding: 8.3vw 0 7.5vw;
    }
  }

  &__image-wrapper {
    background-color: $white;
    border: 1px solid #D3D5D5;
    width: 230px;
    min-width: 230px;
    height: 230px;
    margin-right: 20px;

    @media screen and (max-width: 600px) {
      width: 38.3vw;
      min-width: 38.3vw;
      height: 38.3vw;
      margin-right: 3.3vw;
    }
  }

  &__text {
    font-weight: 500;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    font-size: 1.3rem;

    @media screen and (max-width: 600px) {
      font-size: 2.1vw;
    }
  }
}