.sns {
  padding-bottom: 165px;

  @media screen and (max-width: 600px) {
    padding-bottom: 27.50vw;
  }

  &__list {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 20px;
    padding: 55px 30px;

    @media screen and (max-width: 600px) {
      padding: 9.16vw 5vw;
      grid-gap: 5.33vw;
    }
  }

  &__item {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  &__img {
    width: 190px;

    @media screen and (max-width: 600px) {
      width: 33.33vw;
    }
  }

  img {
    width: 100%;
  }

  &__logo {
    font-family: $yugo;
    font-weight: $medium;
    font-size: 3.7rem;

    @media screen and (max-width: 600px) {
      font-size: 6.16vw;
    }
  }
}