.trouble {
  padding-bottom: 60px;

  @media screen and (max-width: 600px) {
    padding-bottom: 7vw;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    padding-bottom: 10px;

    @media screen and (max-width: 600px) {
      font-size: 1.66vw;
    }
  }

  &__numbering {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    color: $blue;

    @media screen and (max-width: 600px) {
      font-size: 3.66vw;
    }
  }

  &__text {
    font-family: $yumin;
    font-weight: $medium;
    font-size: 1.8rem;
    color: $black;

    @media screen and (max-width: 600px) {
      font-size: 3vw;
    }
  }
}
