.wave {
  background: $white url(../image/wave-s.svg) no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  height: 86px;
  margin-bottom: 45px;

  @media screen and (max-width: 600px) {
    height: 14.3vw;
    margin-bottom: 7.5vw;
  }
}