section.banner
  .banner__logo-wrapper
    span.banner__logo LOGO
  .banner__wrapper
    .banner__text-wrapper
      p.banner__text 美肌へ
        br
        | ハリと輝きに満ちた
      p.banner__text.banner__text--shadow 美肌へ
        br
        | ハリと輝きに満ちた
    img.banner__product(src="assets/image/banner-product.svg" alt="product")
    .banner__right-wrapper
      .banner__text-wrapper
        p.banner__text みずみずしく、
        p.banner__text.banner__text--shadow みずみずしく、
      .banner__circle-wrapper
        .banner__circle
          p.banner__circle-rating 満足度98％
          p.banner__circle-text ○○シリーズ累計販売実績
          p.banner__circle-count 445
            span.banner__circle-pieces 万個
        p.banner__circle-date ※2010/1/1〜2021/1/30時点
          br
          | 当社調べ
  p.banner__bottom-text 水溶性コラーゲン・浸透性コラーゲン・ピココラーゲンという3種のコラーゲンとヒアルロン酸が浸透。コットンを使わずに、お肌への浸透を手のひらでしっかり確かめながらお手入れをしていただくのがおすすめ。触れると指が吸いつくように、みずみずしいうるおいを肌にかなえます。
