mixin item(img, bubbleClass)
  li.benefits__item&attributes(attributes)= name 
    .benefits__bubble(class= bubbleClass)
      img(src= img alt="bubble")
    .benefits__details
      p.benefits__title efs化粧水の利点が、
        br
        | 見出しが入ります。
      p.benefits__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。

section.benefits
  .benefits__wrapper
    .benefits__product-wrapper
      img.benefits__product-img(src="assets/image/bottle.svg" alt="product")
    .heading
      h2.heading__text.heading__text--benefits こんなに違います。
        br
        | 願いを叶える efs化粧水。
    ul.benefits__list
      +item('assets/image/bubble1.svg', 'benefits__bubble--1')
      +item('assets/image/bubble2.svg', 'benefits__bubble--2')(class="benefits__item--reverse")
      +item('assets/image/bubble3.svg', 'benefits__bubble--3')
      +item('assets/image/bubble4.svg', 'benefits__bubble--4')(class="benefits__item--reverse")
      +item('assets/image/bubble5.svg', 'benefits__bubble--5')

