section.campaign
  .campaign__list
    .campaign__item
      .campaign__wrapper
        .campaign__bottle
          img.campaign__bottle-img(src="assets/image/campaign-bottle.svg")
        .campaign__content
          .campaign__crown
            img.campaign__crown-img(src="assets/image/crown.svg" alt="crown")
            p.campaign__crown-text 初回限定特別価格キャンペーン

          p.campaign__title efs化粧水
            span 〈○○g〉

          .campaign__content-middle
            .campaign__middle-text
              p.campaign__price 通常価格0,000円
              .campaign__content-middle
                p.campaign__sale-price 特別価格 0,000
                .campaign__unit-container
                  span.campaign__tax （税込）
                  span.campaign__yen 円
            .campaign__circle
              span.campaign__circle-text 送料
                br
                | 無料

          button.button ご購入はこちら　>

    .campaign__item.campaign__item--sm
      .campaign__wrapper
        .campaign__bottle
          img.campaign__bottle-img(src="assets/image/campaign-bottle.svg")
        .campaign__content
          p.campaign__title efs化粧水
            br
            span 〈○○g〉

          .campaign__content-middle
            .campaign__circle
              span.campaign__circle-text 送料
                br
                | 無料
            .campaign__middle-text
              .campaign__content-middle
                p.campaign__sale-price 0,000
                .campaign__unit-container
                  span.campaign__tax （税込）
                  span.campaign__yen 円

          button.button ご購入はこちら　>