section.customer-voice
  .customer-voice__wrapper
    .heading
      h2.heading__text お客様の声
    
    ul.customer-voice__list
      li.customer-voice__item
        .customer-voice__content
          p.customer-voice__title 見出しが入ります。
          p.customer-voice__text これはコピーです。これはコピーです。これはコピーです○○○○○○○。注目ポイントに色をつけます。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
      
      li.customer-voice__item
        .customer-voice__content
          p.customer-voice__title 見出しが入ります。
          p.customer-voice__text これはコピーです。これはコピーです。これはコピーです○○○○○○○。注目ポイントに色をつけます。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
      
      li.customer-voice__item
        .customer-voice__content
          p.customer-voice__title 見出しが入ります。
          p.customer-voice__text これはコピーです。これはコピーです。これはコピーです○○○○○○○。注目ポイントに色をつけます。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
      
      li.customer-voice__item
        .customer-voice__content
          p.customer-voice__title 見出しが入ります。
          p.customer-voice__text これはコピーです。これはコピーです。これはコピーです○○○○○○○。注目ポイントに色をつけます。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
      
      li.customer-voice__item
        .customer-voice__content
          p.customer-voice__title 見出しが入ります。
          p.customer-voice__text これはコピーです。これはコピーです。これはコピーです○○○○○○○。注目ポイントに色をつけます。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。