section.qa
  .qa__wrapper
    .heading
      h2.heading__text よくあるご質問
    
    ul.qa__list
      li.qa__item
        .qa__question
          .qa__question-img 
            img(src="assets/image/question-img.svg")
          .qa__question-text 見出しが入ります。

        .qa__answer
          .qa__question-img 
            img(src="assets/image/answer-img.svg")
          .qa__answer-text これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
      
      li.qa__item
        .qa__question
          .qa__question-img 
            img(src="assets/image/question-img.svg")
          .qa__question-text 見出しが入ります。

        .qa__answer
          .qa__question-img 
            img(src="assets/image/answer-img.svg")
          .qa__answer-text これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
      
      li.qa__item
        .qa__question
          .qa__question-img 
            img(src="assets/image/question-img.svg")
          .qa__question-text 見出しが入ります。

        .qa__answer
          .qa__question-img 
            img(src="assets/image/answer-img.svg")
          .qa__answer-text これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。

      li.qa__item
        .qa__question
          .qa__question-img 
            img(src="assets/image/question-img.svg")
          .qa__question-text 見出しが入ります。

        .qa__answer
          .qa__question-img 
            img(src="assets/image/answer-img.svg")
          .qa__answer-text これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。

      li.qa__item
        .qa__question
          .qa__question-img 
            img(src="assets/image/question-img.svg")
          .qa__question-text 見出しが入ります。

        .qa__answer
          .qa__question-img 
            img(src="assets/image/answer-img.svg")
          .qa__answer-text これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。