section.sns
  .sns__wrapper
    .heading
      h2.heading__text SNSでも大絶賛！
  
    ul.sns__list
      .sns__item
        .sns__img
          img(src="assets/image/sns.png")

      .sns__item
        .sns__img
          img(src="assets/image/sns.png")

      .sns__item
        .sns__img
          img(src="assets/image/sns.png")

      .sns__item
        .sns__img
          img(src="assets/image/sns.png")

      .sns__item
        .sns__img
          img(src="assets/image/sns.png")
      
      .sns__item
        p.sns__logo LOGO