section.trouble
  .trouble__wrapper
    .heading.heading--plain
      h2.heading__text こんなお悩み抱えていませんか？
    
    ul.trouble__list
      li.trouble__item
        p.trouble__numbering Trouble1. 
          span.trouble__text お悩み内容が入ります。これはコピーです。
      li.trouble__item
        p.trouble__numbering Trouble2. 
          span.trouble__text お悩み内容が入ります。これはコピーです。
      li.trouble__item
        p.trouble__numbering Trouble3. 
          span.trouble__text お悩み内容が入ります。これはコピーです。
      li.trouble__item
        p.trouble__numbering Trouble4. 
          span.trouble__text お悩み内容が入ります。これはコピーです。
      li.trouble__item
        p.trouble__numbering Trouble5. 
          span.trouble__text お悩み内容が入ります。これはコピーです。