section.video-section
  .video-section__wrapper
    .heading
      h2.heading__text.heading__text--with-subheading 動画でご紹介タイトル
        br
        |
        span.heading__subheading 自信を持っておすすめします。まずはお試しください！