doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/style.css")
    title Index
  body
    include components/header.pug

    main
      .max-width
        include components/banner.pug
        include components/campaign.pug
        include components/wave.pug
        include components/trouble.pug
        include components/benefits.pug
        include components/wave.pug
        include components/campaign.pug
        include components/customer-voice.pug
        include components/video-section.pug
        include components/q-and-a.pug
        include components/sns.pug
        include components/pr.pug
        include components/wave.pug
        include components/campaign.pug

        //- include components/wave.pug
        //- include components/pr.pug
        //- include components/wave.pug
        //- include components/campaign.pug

    .max-width
      include components/footer.pug
