
<section class="benefits">
  <div class="benefits__wrapper">
    <div class="benefits__product-wrapper"><img class="benefits__product-img" src="assets/image/bottle.svg" alt="product"/></div>
    <div class="heading">
      <h2 class="heading__text heading__text--benefits">こんなに違います。<br/>願いを叶える efs化粧水。</h2>
    </div>
    <ul class="benefits__list">
      <li class="benefits__item">
        <div class="benefits__bubble benefits__bubble--1"><img src="assets/image/bubble1.svg" alt="bubble"/></div>
        <div class="benefits__details">
          <p class="benefits__title">efs化粧水の利点が、<br/>見出しが入ります。</p>
          <p class="benefits__text">これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </li>
      <li class="benefits__item benefits__item--reverse">
        <div class="benefits__bubble benefits__bubble--2"><img src="assets/image/bubble2.svg" alt="bubble"/></div>
        <div class="benefits__details">
          <p class="benefits__title">efs化粧水の利点が、<br/>見出しが入ります。</p>
          <p class="benefits__text">これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </li>
      <li class="benefits__item">
        <div class="benefits__bubble benefits__bubble--3"><img src="assets/image/bubble3.svg" alt="bubble"/></div>
        <div class="benefits__details">
          <p class="benefits__title">efs化粧水の利点が、<br/>見出しが入ります。</p>
          <p class="benefits__text">これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </li>
      <li class="benefits__item benefits__item--reverse">
        <div class="benefits__bubble benefits__bubble--4"><img src="assets/image/bubble4.svg" alt="bubble"/></div>
        <div class="benefits__details">
          <p class="benefits__title">efs化粧水の利点が、<br/>見出しが入ります。</p>
          <p class="benefits__text">これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </li>
      <li class="benefits__item">
        <div class="benefits__bubble benefits__bubble--5"><img src="assets/image/bubble5.svg" alt="bubble"/></div>
        <div class="benefits__details">
          <p class="benefits__title">efs化粧水の利点が、<br/>見出しが入ります。</p>
          <p class="benefits__text">これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </li>
    </ul>
  </div>
</section>