
<section class="campaign">
  <div class="campaign__list">
    <div class="campaign__item">
      <div class="campaign__wrapper">
        <div class="campaign__bottle"><img class="campaign__bottle-img" src="assets/image/campaign-bottle.svg"/></div>
        <div class="campaign__content">
          <div class="campaign__crown"><img class="campaign__crown-img" src="assets/image/crown.svg" alt="crown"/>
            <p class="campaign__crown-text">初回限定特別価格キャンペーン</p>
          </div>
          <p class="campaign__title">efs化粧水<span>〈○○g〉</span></p>
          <div class="campaign__content-middle">
            <div class="campaign__middle-text">
              <p class="campaign__price">通常価格0,000円</p>
              <div class="campaign__content-middle">
                <p class="campaign__sale-price">特別価格 0,000</p>
                <div class="campaign__unit-container"><span class="campaign__tax">（税込）</span><span class="campaign__yen">円</span></div>
              </div>
            </div>
            <div class="campaign__circle"><span class="campaign__circle-text">送料<br/>無料</span></div>
          </div>
          <button class="button">ご購入はこちら　></button>
        </div>
      </div>
    </div>
    <div class="campaign__item campaign__item--sm">
      <div class="campaign__wrapper">
        <div class="campaign__bottle"><img class="campaign__bottle-img" src="assets/image/campaign-bottle.svg"/></div>
        <div class="campaign__content">
          <p class="campaign__title">efs化粧水<br/><span>〈○○g〉</span></p>
          <div class="campaign__content-middle">
            <div class="campaign__circle"><span class="campaign__circle-text">送料<br/>無料</span></div>
            <div class="campaign__middle-text">
              <div class="campaign__content-middle">
                <p class="campaign__sale-price">0,000</p>
                <div class="campaign__unit-container"><span class="campaign__tax">（税込）</span><span class="campaign__yen">円</span></div>
              </div>
            </div>
          </div>
          <button class="button">ご購入はこちら　></button>
        </div>
      </div>
    </div>
  </div>
</section>