
<section class="customer-voice">
  <div class="customer-voice__wrapper">
    <div class="heading">
      <h2 class="heading__text">お客様の声</h2>
    </div>
    <ul class="customer-voice__list">
      <li class="customer-voice__item">
        <div class="customer-voice__content">
          <p class="customer-voice__title">見出しが入ります。</p>
          <p class="customer-voice__text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。注目ポイントに色をつけます。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </li>
      <li class="customer-voice__item">
        <div class="customer-voice__content">
          <p class="customer-voice__title">見出しが入ります。</p>
          <p class="customer-voice__text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。注目ポイントに色をつけます。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </li>
      <li class="customer-voice__item">
        <div class="customer-voice__content">
          <p class="customer-voice__title">見出しが入ります。</p>
          <p class="customer-voice__text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。注目ポイントに色をつけます。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </li>
      <li class="customer-voice__item">
        <div class="customer-voice__content">
          <p class="customer-voice__title">見出しが入ります。</p>
          <p class="customer-voice__text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。注目ポイントに色をつけます。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </li>
      <li class="customer-voice__item">
        <div class="customer-voice__content">
          <p class="customer-voice__title">見出しが入ります。</p>
          <p class="customer-voice__text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。注目ポイントに色をつけます。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </li>
    </ul>
  </div>
</section>