
<section class="qa">
  <div class="qa__wrapper">
    <div class="heading">
      <h2 class="heading__text">よくあるご質問</h2>
    </div>
    <ul class="qa__list">
      <li class="qa__item">
        <div class="qa__question">
          <div class="qa__question-img"> <img src="assets/image/question-img.svg"/></div>
          <div class="qa__question-text">見出しが入ります。</div>
        </div>
        <div class="qa__answer">
          <div class="qa__question-img"> <img src="assets/image/answer-img.svg"/></div>
          <div class="qa__answer-text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</div>
        </div>
      </li>
      <li class="qa__item">
        <div class="qa__question">
          <div class="qa__question-img"> <img src="assets/image/question-img.svg"/></div>
          <div class="qa__question-text">見出しが入ります。</div>
        </div>
        <div class="qa__answer">
          <div class="qa__question-img"> <img src="assets/image/answer-img.svg"/></div>
          <div class="qa__answer-text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</div>
        </div>
      </li>
      <li class="qa__item">
        <div class="qa__question">
          <div class="qa__question-img"> <img src="assets/image/question-img.svg"/></div>
          <div class="qa__question-text">見出しが入ります。</div>
        </div>
        <div class="qa__answer">
          <div class="qa__question-img"> <img src="assets/image/answer-img.svg"/></div>
          <div class="qa__answer-text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</div>
        </div>
      </li>
      <li class="qa__item">
        <div class="qa__question">
          <div class="qa__question-img"> <img src="assets/image/question-img.svg"/></div>
          <div class="qa__question-text">見出しが入ります。</div>
        </div>
        <div class="qa__answer">
          <div class="qa__question-img"> <img src="assets/image/answer-img.svg"/></div>
          <div class="qa__answer-text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</div>
        </div>
      </li>
      <li class="qa__item">
        <div class="qa__question">
          <div class="qa__question-img"> <img src="assets/image/question-img.svg"/></div>
          <div class="qa__question-text">見出しが入ります。</div>
        </div>
        <div class="qa__answer">
          <div class="qa__question-img"> <img src="assets/image/answer-img.svg"/></div>
          <div class="qa__answer-text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</div>
        </div>
      </li>
    </ul>
  </div>
</section>