
<section class="trouble">
  <div class="trouble__wrapper">
    <div class="heading heading--plain">
      <h2 class="heading__text">こんなお悩み抱えていませんか？</h2>
    </div>
    <ul class="trouble__list">
      <li class="trouble__item">
        <p class="trouble__numbering">Trouble1. <span class="trouble__text">お悩み内容が入ります。これはコピーです。</span></p>
      </li>
      <li class="trouble__item">
        <p class="trouble__numbering">Trouble2. <span class="trouble__text">お悩み内容が入ります。これはコピーです。</span></p>
      </li>
      <li class="trouble__item">
        <p class="trouble__numbering">Trouble3. <span class="trouble__text">お悩み内容が入ります。これはコピーです。</span></p>
      </li>
      <li class="trouble__item">
        <p class="trouble__numbering">Trouble4. <span class="trouble__text">お悩み内容が入ります。これはコピーです。</span></p>
      </li>
      <li class="trouble__item">
        <p class="trouble__numbering">Trouble5. <span class="trouble__text">お悩み内容が入ります。これはコピーです。</span></p>
      </li>
    </ul>
  </div>
</section>